$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.card {
    width: 120px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    @media only screen and (max-width: $tablet) {
        background-color: black;
        color: white;
        width: 100px;
    }

    @media only screen and (max-width: $desktop) {
        width: 120px;
    }
}

.card-text {
    text-align: center;
    margin-bottom: 2px;
}