.searchbar {
    margin: 5% auto;
}

.location {
    color: white;
    font-size: 36px;
    font-weight: bolder;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child:first-child {
    margin-right: 100px;
} 