$moblie: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
    display: inline-block;
}

.title {
  color: white;
}