$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.weather-card {
    border-radius: 5px;
    width: 500px;
    background-color: transparent;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    //margin-left: 50px;
    @media only screen and (max-width: $tablet) {
        display: block;
        width: 350px;
        margin: 0 auto;
    }
    
    @media only screen and (max-width: $laptop) {

    }
}

.box {
    width: 30%;
    display: inline-block;
}

.text {
    display: block;
}

// .general-weather-card {
//     border-radius: 5px;
//     width: 300px;
//     background-color: coral;
//     margin-top: 10px;
// }

// .weather-card {
//     border-radius: 5px;
//     width: 500px;
//     margin: 0 auto;
//     background-color: coral;
// }

// .box {
//     /*background-color: coral;*/
//     width: 30%;
//     display:inline-block;
//     margin:10px 0;
//     border-radius:5px;
// }

// .text {
//     padding: 10px 0;
//     color:white;
//     font-weight:bold;
//     text-align:center;
// }